body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;


}

:root{
--font-bebas: 'Bebas Neue', cursive;
--font-fira: 'Fira Sans', sans-serif;
--font-ibm: 'IBM Plex Mono', monospace;
--font-kdam: 'Kdam Thmor Pro', sans-serif;
--font-mont: 'Montserrat', sans-serif;
--font-noto: 'Noto Sans', sans-serif;
--font-popis: 'Poppins', sans-serif;
--font-roboto: 'Roboto', sans-serif;
--font-secular: 'Secular One', sans-serif;

--color-bg1: #373A3E;
--color-bg2: #c41b54;
--color-bg3:#232428;
}